:root {
    --background: rgb(241, 245, 249);
    --foreground: rgb(15, 23, 42);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(15, 23, 42);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(15, 23, 42);
    --primary: rgb(226, 232, 240);
    --primary-foreground: rgb(15, 23, 42);
    --secondary: rgb(241, 245, 249);
    --secondary-foreground: rgb(15, 23, 42);
    --muted: rgb(241, 245, 249);
    --muted-foreground: rgb(100, 116, 139);
    --accent: rgb(241, 245, 249);
    --accent-foreground: rgb(15, 23, 42);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(226, 232, 240);
    --input: rgb(226, 232, 240);
    --ring: rgb(15, 23, 42);
    --chart-1: rgb(38, 166, 149);
    --chart-2: rgb(241, 139, 14);
    --chart-3: rgb(104, 57, 198);
    --chart-4: rgb(25, 128, 230);
    --chart-5: rgb(249, 188, 6);
    --sidebar: rgb(248, 250, 252);
    --sidebar-foreground: rgb(15, 23, 42);
    --sidebar-primary: rgb(61, 168, 245);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(241, 245, 249);
    --sidebar-accent-foreground: rgb(15, 23, 42);
    --sidebar-border: rgb(226, 232, 240);
    --sidebar-ring: rgb(15, 23, 42);
    --font-sans: Inter, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: hsl(222.2 47.4% 11.2%);
    --shadow-2xs: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.03);
    --shadow-xs: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.03);
    --shadow-sm: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
    --shadow: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
    --shadow-md: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 2px 4px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
    --shadow-lg: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 4px 6px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
    --shadow-xl: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 8px 10px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
    --shadow-2xl: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: rgb(15, 23, 42);
    --foreground: rgb(241, 245, 249);
    --card: rgb(30, 40, 53);
    --card-foreground: rgb(241, 245, 249);
    --popover: rgb(30, 40, 53);
    --popover-foreground: rgb(241, 245, 249);
    --primary: rgb(59, 130, 246);
    --primary-foreground: rgb(15, 23, 42);
    --secondary: rgb(30, 41, 59);
    --secondary-foreground: rgb(241, 245, 249);
    --muted: rgb(30, 41, 59);
    --muted-foreground: rgb(148, 163, 184);
    --accent: rgb(30, 41, 59);
    --accent-foreground: rgb(241, 245, 249);
    --destructive: rgb(127, 29, 29);
    --destructive-foreground: rgb(241, 245, 249);
    --border: rgb(30, 41, 59);
    --input: rgb(30, 41, 59);
    --ring: rgb(59, 130, 246);
    --chart-1: rgb(89, 217, 200);
    --chart-2: rgb(247, 185, 110);
    --chart-3: rgb(164, 136, 221);
    --chart-4: rgb(117, 179, 240);
    --chart-5: rgb(251, 215, 106);
    --sidebar: rgb(13, 21, 38);
    --sidebar-foreground: rgb(241, 245, 249);
    --sidebar-primary: rgb(110, 190, 247);
    --sidebar-primary-foreground: rgb(15, 23, 42);
    --sidebar-accent: rgb(30, 41, 59);
    --sidebar-accent-foreground: rgb(241, 245, 249);
    --sidebar-border: rgb(30, 41, 59);
    --sidebar-ring: rgb(59, 130, 246);
    --font-sans: Inter, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.25;
    --shadow-color: hsl(222.2 47.4% 11.2%);
    --shadow-2xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
    --shadow-xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
    --shadow-sm: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
    --shadow: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
    --shadow-md: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 2px 4px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
    --shadow-lg: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 4px 6px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
    --shadow-xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 8px 10px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
    --shadow-2xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.63);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}