@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
  --font-mono: Fira Code, monospace;
  --font-serif: Merriweather, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9684 0.0068 247.8951);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.9290 0.0126 255.5317);
  --primary-foreground: oklch(0.2079 0.0399 265.7275);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.2079 0.0399 265.7275);
  --chart-1: oklch(0.6554 0.1093 181.4868);
  --chart-2: oklch(0.7306 0.1669 61.0495);
  --chart-3: oklch(0.4867 0.2039 292.3891);
  --chart-4: oklch(0.5987 0.1773 253.7016);
  --chart-5: oklch(0.8281 0.1689 84.9225);
  --radius: 0.5rem;
  --sidebar: oklch(0.9838 0.0035 247.8583);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.7061 0.1475 244.0879);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.9290 0.0126 255.5317);
  --sidebar-ring: oklch(0.2079 0.0399 265.7275);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.03);
  --shadow-xs: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.03);
  --shadow-sm: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-md: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 2px 4px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-lg: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 4px 6px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-xl: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.05), 0px 8px 10px -1px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-2xl: 0px 2px 8px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9684 0.0068 247.8951);
  --card: oklch(0.2725 0.0287 256.8471);
  --card-foreground: oklch(0.9684 0.0068 247.8951);
  --popover: oklch(0.2725 0.0287 256.8471);
  --popover-foreground: oklch(0.9684 0.0068 247.8951);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(0.2079 0.0399 265.7275);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9684 0.0068 247.8951);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9684 0.0068 247.8951);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9684 0.0068 247.8951);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.6232 0.1879 259.7964);
  --chart-1: oklch(0.8100 0.1159 183.1911);
  --chart-2: oklch(0.8278 0.1164 70.5899);
  --chart-3: oklch(0.6870 0.1240 298.4322);
  --chart-4: oklch(0.7478 0.1093 249.4756);
  --chart-5: oklch(0.8885 0.1338 91.0632);
  --radius: 0.5rem;
  --sidebar: oklch(0.1965 0.0362 265.8251);
  --sidebar-foreground: oklch(0.9684 0.0068 247.8951);
  --sidebar-primary: oklch(0.7727 0.1143 241.4120);
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-accent: oklch(0.2800 0.0369 259.9740);
  --sidebar-accent-foreground: oklch(0.9684 0.0068 247.8951);
  --sidebar-border: oklch(0.2800 0.0369 259.9740);
  --sidebar-ring: oklch(0.6232 0.1879 259.7964);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-opacity: 0.25;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
  --shadow-xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.13);
  --shadow-sm: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --shadow: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --shadow-md: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 2px 4px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --shadow-lg: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 4px 6px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --shadow-xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25), 0px 8px 10px -1px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --shadow-2xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.63);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
  }
}